@using MovieReservationSystem.ViewModels
@model IEnumerable<MovieAllVM>


<section class="breadcrumb-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb-area-content">
					<h1>Movies Page</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- portfolio section start -->
<section class="portfolio-area pt-60">
	<div class="container">
		<div class="row flexbox-center">
			<div class="col-lg-6 text-center text-lg-left">
				<div class="section-title">
					<h1><i class="icofont icofont-movie"></i> Spotlight This Month</h1>
				</div>
			</div>
			<div class="col-lg-6 text-center text-lg-right">
				<div class="portfolio-menu">
					<ul>
						<a     class="Links"    asp-action="MoviePagenation" asp-route-type="MovieLastest">
							<li class="@(ViewBag.Type == "MovieLastest"|| ViewBag.Type == "MovieSearch" ? "active" : "")">
								Latest
							</li>
						</a>
						<a   class="Links"  asp-action="MoviePagenation" asp-route-type="MovieCommingSoon">
							<li class="@(ViewBag.Type == "MovieCommingSoon" ? "active" : "")">

								Comming Soon

							</li></a>
						<a   class="Links"  asp-action="MovieTopRated" asp-route-type="MovieTopRated">
							<li class="@(ViewBag.Type == "MovieTopRated" ? "active" : "")">

								Top Rated

							</li></a>
						<a  class="Links"   asp-action="MoviePagenation" asp-route-type="MovieRealsed">
							<li class="@(ViewBag.Type == "MovieRealsed" ? "active" : "")">

								Recently Released
							</li>				
						</a>

					</ul>
				</div>
			</div>
		</div>
		<hr />
		<div class="row portfolio-item">
			@foreach (var movie in Model)
			{
				<div class="col-lg-3 col-md-4 col-sm-6 soon top released">
					<div class="single-portfolio">
						<div class="single-portfolio-img">
							<img src="~/Images/@movie.ImagePath" alt="portfolio" />
							<a asp-action="MovieDetailPage" asp-route-id="@movie.ID"></a>
						</div>
						<div class="portfolio-content">
							<a asp-action="MovieDetailPage" asp-route-id="@movie.ID">
								<h4 class="title">@movie.Title</h4>
							</a>
							<div class="review mb-2">
								<div class="author-review">
									@for (int i = 1; i <= 5; i++)
									{
										if (i <= movie.RateAvg)
										{

											<span style="font-size: 24px;">&#9733;</span> 	

										}
										else
										{


											<span style="font-size: 24px;">&#9734;</span> 
										}

									}
								</div>
								<h4>@movie.RateAvg voters</h4>
							</div>
							<a asp-action="MovieDetailPage" asp-route-id="@movie.ID" class="theme-btnnn">
								Show Details
							</a>
						</div>
					</div>
				</div>
			}
		</div>
		<div>
			<ul class="pagination justify-content-center">
				@for (int i = 1; i <= ViewBag.TotalPage; i++)
				{
					<li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
						@if (ViewBag.Type != "MovieTopRated")

						{
							<a class="page-link" asp-action="MoviePagenation" asp-route-type="@ViewBag.Type"
							asp-route-page="@i" asp-route-pageSize="@ViewBag.PageSize">@i</a>
						}
						else
						{
							<a class="page-link" asp-action="MovieTopRated"
							   asp-route-page="@i" asp-route-pageSize="@ViewBag.PageSize">@i</a>
						}

					</li>
				}
			</ul>
		</div>

	</section>
<link rel="stylesheet" type="text/css" href="~/css/MoviePagenation.css"  />
@* 
<script>




	 $(".Links").click( () => {
			 e.preventDefault(); 
		const model = {
		   type: @ViewBag.Type
        };
        try {
             $.ajax({
				url: "/Movie/MoviePagenation",
				type: "GET",
                contentType: "application/json",
                data: JSON.stringify(model),
              
             })
        } catch (error) {
            console.error("Failed to submit comment:", error);
        }
    });

</script>
 *@