@model IEnumerable<MovieReservationSystem.ViewModels.MovieScheduleVM>
@{
    Layout = "_DashboardLayout";
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
              MovieId
            </th>
            <th>
              MovieTitle
            </th>
            <th>
               StartTime
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieTitle)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>

            <td>
                    <a asp-action="Update" asp-route-id="@item.ID"  class="btn btn-warning">Update</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Add" class="btn btn-primary">Add New MovieSchedule</a>
